@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

html,
body,
#root {
    margin: 0;
    height: 100%;
}

* {
    outline: none;
}

.nav-bar {
    padding: 6px 10px;
    background-color: #1f2023;
    border-bottom: #545454 5px solid;
}

.nav-bar,
.download-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.download-btn > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
    text-decoration: none;
}

.download-btn > a > svg > path {
    fill: #7c7c7c;
}

.download-btn > a:hover > svg > path {
    fill: #ffffff;
}

.download-btn > a:hover > div {
    color: #ffffff;
}

.download-btn > a > div {
    font-family: "Rubik";
    padding-left: 5px;
    color: #7c7c7c;
}

.logo {
    font-family: Rubik;
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
}

.title {
    font-family: "Rubik";
    border-style: hidden;
    font-size: 16px;
    background-color: #1f2023;
    color: #ffffff;
    text-align: center;
    margin: 0 0 0 6%;
}

.top-pane {
    background-color: hsl(225, 6%, 25%);
}

.pane {
    display: flex;
    position: relative;
}

.editor-container {
    display: flex;
    flex-direction: column;
    background-color: hsl(225, 6%, 25%);
}

/*Took the entire div as container*/
.wrap-box {
    height: 100vh !important;
    display: flex;
    flex-flow: column;
}

/*30px alloted for nav bar*/
.wrap-box .box1 {
    flex: 0 1 30px;
}

/*remaining is alloted for editor and iframe*/
.wrap-box .box2 {
    flex: 1 1 auto;
}

/*now the box2 is again divided as editor and iframe*/
.box2 {
    display: flex;
    flex-flow: column;
}

.box2 .box21 {
    min-height: 10vh;
    max-height: 50vh;
    flex: 1 1 auto;
}

.box2 .box22 {
    flex: 1 1 auto;
}

.gutter {
    position: relative;
}
.gutter::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.gutter.gutter-horizontal {
    width: 15px;
    cursor: ew-resize;
}
.gutter.gutter-horizontal::after {
    content: "\f142";
}
.gutter.gutter-vertical {
    height: 10px;
    background: hsl(0, 0%, 33%);
    cursor: ns-resize;
}
.gutter.gutter-vertical::after {
    content: "\f141";
}

.editor-container.collapsed {
    flex-grow: 0;
    width: 10% !important;
}

.editor-container.collapsed .CodeMirror-scroll {
    position: absolute;
    overflow: hidden !important;
}

.expand-collapse-btn {
    margin-left: 0.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.editor-title {
    display: flex;
    justify-content: space-between;
    background-color: hsl(225, 6%, 13%);
    color: white;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

.CodeMirror {
    height: 100% !important;
}

.code-mirror-wrapper {
    flex-grow: 1;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    overflow: hidden;
}
